body{
    margin: 0px;
}

#particles-js{
    background-color: firebrick;
    height: 400px;
}

#welcome{
    opacity: 0.9;
    position:absolute;
    margin-left: 80px;
    margin-top: 20px;
    font-size: 65px;
    font-style: oblique;

}

#main{
 color: black;
    
}

